<div class="px-0">
    <div class="card">
        <div class="card-body">
          <h3 class="card-title">Contact</h3>
          <div class="card-text">
            <h6 class="mt-5">Address:</h6>
            <pre>
A/17 Swargandha Co-op Hsg. Soc.
Shreenagar, Wagale Estate,
Thane (West) 400604
Maharashtra, India                    
            </pre>
            <p>Phone: <a href="tel:+917798637710">+91 7798637710</a> &nbsp; <a href="tel:+919969022029">+91 9969022029</a></p>
            <p>Email: <a href="mailto:rcpatil1944@gmail.com">rcpatil1944@gmail.com</a></p>
          </div>
        </div>
    </div>
</div>
