<div class="row">
    <div class="col-md-12 px-0">
        <h3 class="text-center mb-2">ज्ञानेश्वरीतील ज्ञानविश्व</h3>
    </div>
    <div class="col-md-4"><img src="assets/images/DyaneshwariFront_300.jpg" class="img-fluid rounded float-start"/></div>
    <div class="col-md-8">        
        <p class="fs-5">
            भगवद्गीता सर्वांना कवेत घेणारी आहे. संस्कृतातील भगवद्गीतेचा मराठी आविष्कार ज्ञानेश्वरी आहे. ज्ञानेश्वरी कथा-काव्य आहे. 
            त्यात श्रीकृष्ण-अर्जुन संवाद आहे. संवादात लौकिक-अलौकिकाचे नाट्य आहे. नाट्य म्हणजे संघर्ष. हाच मनातील संघर्ष ज्ञानेश्वरीत आहे. 
            या संघर्षात लौकिकातील वासना, आशा, आकांक्षा, तृष्णाबंध, संकल्प सोडून, ईश्वराशी रममाण कसे व्हा सांगितले आहे.
        </p>
        <p class="fs-5">
            ज्ञानेश्वरीत भगवद्गीतेच्या पदांचे केवळ उलगडणे नाही तर गीतेपलिकडे जाऊन आत्मरूपाची संकल्पना, व्यभिचारी भक्त, जाति वर्ण हे तो गा अकारण, 
            संन्याशाची कुंटुंबातील संकल्पना, खळांची व्यंकटी सांडो, मूर्तिपूजेची मर्यादा असे जागोजाग आत्मानुभव योगी ज्ञानेश्वर प्रकट करीत आहेत.
        </p>
        <p class="fs-5">
            ज्ञानेश्वरी समाजचिंतन नाही. गीतेचा चिकित्सक अभ्यास नाही वा चिकित्सक इतिहास नाही. साहित्याचा विस्मयकारक आनंद नाही. 
            पंडित व विचारवंत कधी संत होत नाहीत, विचारवंत, चिकित्सक संशय या पातळीवर राहतात. कारण ते बुध्दी, तर्क, विचारांची कास सोडत नाहीत. 
            तृष्णेचा बंध तोडत नाहीत.
        </p>
    </div>
    <div class="col-md-12">
        <p class="fs-5"></p>
    </div>
    <div class="col-md-12">
        <p class="fs-5">
            त्यामुळे त्यांचे मनही मावळत नाही, मग ज्ञानाची वाटचाल थांबते. ईश्वर त्यापलिकडे अनुरागातून आहे. 
            ज्ञानेश्वरी प्रात्यक्षिक अनुभवाचा ग्रंथ आहे. आत्मरूपाचा शोध घेणाऱ्या ध्यानस्थांचा मार्ग आहे. हा ग्रंथ भ्रामक ईश्वरी संकल्पना, विचारांची विसंगती, 
            मनाचा गोंधळ, व अंधश्रध्दा यावर टीका करून खऱ्या अर्थाने आपणास मुक्त करतो. म्हणजे स्वतःकडे वळवितो. 
            या संदर्भातून ज्ञानेश्वरीची ओळख काही व्याख्या व संबोध  या लेखनातून पाहू या.
        </p>
        <p class="fs-5">- रवींद्र पाटील.</p>
    </div>
</div>
