<div class="px-0">
    <p class="fs-5">
      Ravindra Patil has dedicated his life as a school teacher. 
      During his tenure as teacher for 36 years, his main subject to teach was Geography for 10th grade.
      But he has also taught English as second language to students whose primary medium of language is not English.
    </p>
    <p class="fs-5">
      He has a unique knack of presenting a topic in a simple way which is easy to understand and can be related to our
      daily life experiences. He is inspired by Gandhiji (Father of Nation) and has always believed in the principles and
      teachings of M.K. Gandhi. May be that is why he wrote the book: <u>101 Thoughts of Gandhiji</u>.
    </p>
    <p class="fs-5"></p>

    <hr class="my-4">

</div>
