<div class="row">
    <div class="col-md-12 px-0">
        <h3 class="text-center mb-2">शेतकऱ्यांचा राजा - श्री छत्रपती शिवाजी महाराज<br/>(King of Farmers - Chatrapati Shivaji Maharaj)</h3>
    </div>
    <div class="col-md-12">
        <p class="fs-5"></p>
    </div>
    <div class="col-md-4"><img src="assets/images/Shivaji_300.jpg" class="img-fluid rounded float-start"/></div>
    <div class="col-md-8">        
        <p class="fs-5 .tiro-devanagari-marathi-regular">
            <ol>
            <li>शिवशाही इतिहासाच्या मांडणीकडे कोणत्या दृष्टिकोनांतून पहावे?</li>
            <li>महाराष्ट्रातील शेतकऱ्यांवरील अन्यायांतून “हिंदवी स्वराज्याचा उदय” कसा  झाला? त्यासाठी बलिदान केलेल्या सैन्याच्या कुटुंबांचा सन्मान पेन्शन व अडिचसेरी देऊन कसा राखला? मुलकी व्यवस्था अष्टप्रधानांकडून कशी ठेवली ? समुद्री व्यापार कसा सुरू केला?</li>
            <li>छत्रपतींची पत्रे रयतेला काय सांगतात?</li>
            <li>शेवटी छत्रपतींच्या घराण्यापासून आपण काय शिकावे?</li>
            </ol>
            या चार गोष्टी, सदर इतिहासाच्या पुस्तकात आहेत. हा राजा राष्ट्र घडविणारा झाला.
        </p>
        <p class="fs-5 .tiro-devanagari-marathi-regular">
            हे पुस्तक संस्कार घडविणारे आहे. निदान तुमचा मुलगा मद्य पिणार नाही, आईचा सांभाळ करील, आणि परस्त्रीचा सन्मान राखील कारण हा राजा तसा वागतो 
            आणि त्याच्या सैन्यासही तशा वागण्याच्या आज्ञा देतो, म्हणून हे पुस्तक प्रत्येक घरात असावे. 
            सर्वसामान्य, शेतकरी, कुटुंबवत्सल माणसे, पक्षीय पुढारी, प्रशासकीय अधिकारी, लष्करी अधिकारी, अध्यापक, प्राध्यापक व विद्यार्थ्यी यांच्यासाठी हा 
            राजा आदर्श आहे. दुरुस्ती, त्रूटी, विसंगत वाक्ये व आपला अभिप्राय जरूर कळवावा त्याची नोंद घेतलीच जाईल.
        </p>
        </div>
    <div class="col-md-12">
        <p class="fs-5"></p>
    </div>    
    <div class="col-md-12">
    <p class="fs-5 .tiro-devanagari-marathi-regular">
        इतिहास हा भूतकाळातील घडामोडींचा गुंतावळा असतो. त्या गुंतावळीच्या घटनांचा संबंध समाजाशी असतो. त्याची सुसंगती लावावी लागते. 
        त्या घटनांचा संबंध शासन, शासक, धर्म, साहित्य, तत्त्वज्ञान, कला, संस्कृती, भूगोल, लोकसंख्या आणि शेती जीवनशैली यानुसार लावावा लागतो. 
        इतिहासाचे नुसते वर्णन नको, तर त्यात घटनेचा भौगोलिक कार्यकारणभाव शोधावा लागतो. तसेच प्रगती वा अधोगतीच्या दृष्टीने तो काळही समजून घ्यावा लागतो. 
        शिक्षकाचे हे काम आहे.
    </p>
    <p class="fs-5 .tiro-devanagari-marathi-regular">
        त्यासाठी इतिहास-संशोधक जुन्याकाळातील साधनसामुग्री मिळवितात. त्यात दस्तऐवज, हस्तलिखिते, कागदपत्रे, पोथ्या, ग्रंथ, तह, करारपत्रे, सनदा, शकावली, बखरी, 
        शत्रूंची शोधपत्रे, बातमीपत्रे, संत काव्य, संस्कृत काव्य, पोवाडे, वाङमयीन साहित्य, स्वकीय व परकीय भाषांतील पत्र व्यवहार, 
        मोगल, फारसी, डच, इंग्रजी, पोर्तुगीज, राजस्थानी बातमीपत्रे, मातीची, धातुची भांडीकुंडी, दागिने, दगडावरील शिल्प, मूर्ती, शिलालेख, 
        नाणी, जखमांवरील औषधे, शस्त्रे, बदलणारी सुधारित हत्यारे, उत्खननातील वास्तूंचे अवशेष इत्यादी जुनी साधन सामुग्री असते. 
    </p>
    <p class="fs-5">
        इतिहास-संशोधक या ऐतिहासिक साधनांतून तो विशिष्ट भूतकाळ साकार करतात. कष्टाचा प्रवास करतात. अभ्यास करतात त्यामुळे इतिहासात भर पडते. 
        त्यांचे दृष्टिकोन माहितीनुसार बदलत राहतात. इतिहास ही एक प्रक्रिया असते. संशोधकांच्या या अभ्यास-प्रक्रियेतून स्थळे, प्रदेश व व्यक्तींवर प्रकाश 
        पडून घटना जिवंत होतात. त्या उलगडण्यातून नवीन सुसंगती लागते. भारतात आर्य खैबरखिंडींतून आले आज ही इंग्रज संशोधकांची पाठ्यपुस्तकातील 
        सुसंगती बाद ठरते. इतिहास संशोधक पुराव्यानुसार इतिहास आपल्यासमोर ठेवतात. इतिहासाच्या अभ्यासाने वर्तमान शत्रूची पावले अगोदरच ओळखता येतात.
    </p>
    </div>

</div>
