<div class="row">
    <div class="col-md-12 px-0">
        <h3 class="text-center mb-2">तुकारामा ची रोजनीशी (Daily Diary of Tukaram)</h3>
    </div>
    <div class="col-md-12">
        <p class="fs-5"></p>
    </div>
    <div class="col-md-4"><img src="assets/images/Tukaram_200.jpg" class="img-fluid rounded float-start"/></div>
    <div class="col-md-8">        
        <p class="fs-5">
            संत तुकारामांची रोजनिशी - ओळख
        </p>
        <p class="fs-5 .tiro-devanagari-marathi-regular">
            संत तुकारामांची गाथा साडेचार हजार अभंगांची आहे. 
            ‘लहानशी गाथा’ आपल्या घरातील कोनाड्यात असावी, या उद्देशाने या पुस्तकात शासकीय प्रतीतून निवडक अभंग घेतले आहेत. 
            तुकोबांनी अध्यात्मज्ञान गावरान भाषेत सांगितले. त्यामधून स्वतःचे आयुष्य लोकांसमोर उघड केले. गीतेच्या भाष्याऐवजी नामभक्ती शिकविली. 
            देवाचे स्वरूप समजण्यासाठी ही संत तुकारामांची रोजनिशी उपयोगी ठरेल.
        </p>
        <p class="fs-5 .tiro-devanagari-marathi-regular">
            संसार करीत असलेल्या संत तुकोबांकडून देव जाणून घ्यावा. त्यांनी हा जीवन व्यवहार तरुणांसाठी तरुणांसाठी लिहिला आहे. 
            एक बिनधास्त संसारी माणूस कोणते अनुभव घेतो आणि काय सोडून देतो. ते आपण वाचू या. 
            जे तुकोबा काव्यातून बोलतात, ते गद्यातून स्पष्ट केले आहे. आपलेच अनुभव आपणाला कसे वाटतात ते तुम्ही ठरवा. 
            त्यांचे अनुभव काव्याच्या अनुभूतीतून उतरले आहेत.
        </p>
        </div>
    <div class="col-md-12">
        <p class="fs-5"></p>
    </div>    
    <div class="col-md-12">
    <p class="fs-5 .tiro-devanagari-marathi-regular">
        संत होण्यापूर्वी तुकाराम बराच काळ अनेक व्यक्तिमत्वांच्या रूपाने आपल्यासमवेत राहतात. 
        त्यांच्या अनुभवांनी आपण आपल्याला तपासतो. ते आपले मित्र होतात आणि सल्ला देतात.  “आपुलाचि संवाद आपणासी” आपणाला सांगतात. 
        आपल्याबरोबरीने चालतात, बोलतात, विचार करतात. ते विचारप्रक्रियेने ज्ञानी होतात. त्यानंतर हळुवार पावलांनी आपल्यापासून दुरावतात, ‘परदेशी’ होतात.
    </p>
    <p class="fs-5 .tiro-devanagari-marathi-regular">
        “देव शोधायासी गेलो । देव होवोनिया ठेलो ।।” असा त्यांनी स्वतःचा शोध घेतला. 
        “कामक्रोधलोभ । अवघा माझा पांडुंरग ।।” अशी स्वतःमधील उर्जेची साठवणूक केली. 
        एकेका जीवनव्यवहारापासून मुक्त होत गेले. ‘आकाशाएवढे’ झाले. परमेश्वर झाले. कसे ते या पुस्तकातून पाहू या.
    </p>
    </div>

</div>
